<app-title-logout></app-title-logout>
<ng-container *ngIf="(restaurantes$|async) as restaurantes">
  <ng-container *ngFor="let restaurante of restaurantes"  >
    <div style="display:flex;flex-direction: column;gap:1rem;border:19px;margin-bottom: 10px;">
      <span>
        {{restaurante.nome}}
      </span>

      <span>
        {{restaurante.endereco}}
      </span>

      <span>
        {{restaurante.telefone}}
      </span>

      <button (click)="irPraDetalhes(restaurante.id)">
        IR PRA DETALHES
      </button>
    </div>



  </ng-container>


</ng-container>


