<div class="home-container">
  <img src="assets/images/logo.png" alt="Logo Sabor Tech" class="logo" />

  <p class="description full-width">
    Bem-vindo ao Sabor Tech, o portal web que combina tecnologia e gastronomia
    para oferecer a você a melhor experiência em restaurantes! Descubra e
    escolha pratos deliciosos dos melhores restaurantes da cidade. Com apenas
    alguns cliques, você encontrará o prato perfeito para satisfazer seu
    apetite e seus desejos.
  </p>
  <a routerLink="/buscar" class="search-link">Clique aqui para buscar restaurantes</a>
</div>




