<div class="page-details">
  <div class="content full-width">
    <ng-container *ngIf="restaurante$ | async; let restaurante">
      <mat-card class="card">
        <mat-card-content>
          <span>
            <h1><strong>{{ restaurante.nome }}</strong></h1>
          </span>

          <div class="pratos">
            <h2>Pratos</h2>
          </div>

          <ng-container *ngIf="restaurante.pratos && restaurante.pratos.length">
            <mat-card
              class="mini-card"
              *ngFor="let prato of restaurante.pratos"
            >
              <mat-card-content>
                <span>
                  <h3>
                    <strong>{{ prato.nome }}</strong>
                  </h3>
                </span>

                <div>
                  <span>
                    {{ prato.descricao }}
                  </span>
                </div>

                <div>
                  <span>
                    Preço: <strong>R$ {{ prato.preco }}</strong>
                  </span>
                </div>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <div class="back">
      <button mat-raised-button color="primary" class="button-back" (click)="IrpraTeladeBuscar()" >
        Voltar
      </button>

    </div>
  </div>
</div>
