
<app-title-logout></app-title-logout>

<ng-container *ngIf="(restaurante$|async) as restaurante">
  <div style="display:flex;flex-direction: column;gap:1rem; border:19px;margin-bottom: 8px;">
    <span>
      <h2>{{restaurante.nome}}</h2>
    </span>

    <span>
      Telefone: {{restaurante.telefone}}
    </span>

    <span>
      Endereço: {{restaurante.endereco}}
    </span>
  </div>

  <h3>Pratos</h3>

  <ng-container *ngIf="restaurante.pratos && restaurante.pratos.length">
    <div *ngFor="let prato of restaurante.pratos">
      <h4>{{prato.nome}}</h4>
      <p>Descrição: {{prato.descricao}}</p>
      <p>Preço: {{prato.preco}}</p>
    </div>
  </ng-container>

  <p>COLOCAR AQUI O BOTÃO DE VOLTAR</p>

</ng-container>
