.not-found-container {
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.home-link {
  color: #007bff;
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {
  .full-width{
    width: 95%;
  }
}
